{% extends "base.html" %}

{% block title %} {{chat.name}} {% endblock %}

{% block content %}
<h4>{{chat.name}} -
<a class="btn btn-light" href="/chat_edit/{{chat.id}}">Edit</a>
</h4>
{% for message in chat.messages %}
    {% if message.author == None %}
        <div class="alert alert-secondary" role="alert" style="width: fit-content">
    {% elif message.author == current_user %}
        <div class="alert alert-success" role="alert" style="width: fit-content">
    {% else %}
        <div class="alert alert-primary" role="alert" style="width: fit-content">
    {% endif %}
    {% if loop.first or message.author != chat.messages[loop.index0 - 1].author %}
        {% if message.author == None %}
            <a class="alert-heading" style="color: gray"> Deleted user </a><br>
        {% elif current_user == message.author: %}
            <a class="alert-heading"><b> You </b></a><br>
        {% else %}
            <a class="alert-heading" style="color: gray"><b>{{ message.author.nickname }}</b></a><br>
        {% endif %}
    {% endif %}
      {% if message.files != [] %}
           {% for file in message.files %}
               <a class="btn btn-light page-btn" href="/download/{{file.id}}">{{ file.user_filename }}</a>
           {% endfor %}
            <br>
      {% endif %}
  <a style="white-space: pre-wrap">{{ message.text }}</a>
  </div>
{% endfor %}

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>
        {{ form.text(class="form-control") }}<br>
    </p>
    <p> {{ form.files(class="btn btn-light") }}</p>
    {% for error in form.files.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}
    <a class="btn btn-light page-btn" href="/select_message/{{chat.id}}">select message</a>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

</form>

{% endblock %}