{% extends "base.html" %}

{% block title %} {{chat.name}} members {% endblock %}

{% block content %}
<h4>{{chat.name}} members</h4>
{% for member in chat.members %}
    <a class="btn btn-outline-primary" href="/profile/{{member.id}}" style="width: 200px">{{member.username}}</a>
    <a class="btn btn-warning" href="/kick/{{member.id}}/{{chat.id}}" style="width: 100px">
        {% if current_user == member%}
            leave
        {% else %}
            kick
        {% endif %}
    </a>
    <br>
{% endfor %}
{% endblock %}