{% extends "base.html" %}

{% block title %} Profile deleting {% endblock %}

{% block content %}
<h4>Profile deleting</h4>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.agreement() }} {{ form.agreement.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-danger") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}