{% extends "base.html" %}

{% block title %} {{ user.username }}'s profile {% endblock %}

{% block content %}
<h4>{{ user.username }}'s profile</h4>

<form action="" method="post">
    <p><b>
        username - {{user.username}} <br>
        nickname - {{user.nickname}} <br>
        birth_date - {{user.birth_date}}
    </b></p>
    {% if current_user == user %}
        <a class="btn btn-warning page-btn" href="/profile_edit/{{user.id}}">Edit</a>
        <a class="btn btn-danger page-btn" href="/profile_delete/{{user.id}}">Delete</a>
    {% endif %}
</form>
{% endblock %}